body
{
  color: white;
  background: #61ea06;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font: size 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
.vl 
{
  border-left: 6px solid rgb(255, 255, 255);
  height: 50px;
}
